{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}

<div id="front-page">
  <div style="width: 0">
    <div class="fil-cadre" style="position: relative; top: calc(50vh - 6px);">
      <div class="fil-snake">
      </div>
    </div>
  </div>
  <div id="title" style="background-color: #AA1111; z-index: 10;">
    <h1 class="special-font">
      {%
        set letters = ['l','e','f','i','l','r','o','u','g','e'] %}{%
        for letter in letters %}<span style="opacity: 0;" class="hidden">{{ letter }}</span>{% endfor %}
    </h1>
    <h2 class="signature" style="opacity: 0;">Aliénor Dubé</h2>
  </div>
  <div id="scroll">
    <a href="#"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></a>
  </div>
</div>

<div id="home-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {{ include(navbar, {'active': "Collection"}) }}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="large-icon large-icon-left">
          <div class="icon-container">
            <div class="icon-dummy"></div>
            <div class="icon-element">
              <div class="row" id="box-search">
                  <div class="thumbnail text-center">
                      <a href="{{ path('lfr_store_explore', {'type': 'vetement'}) }}">
                      <img src="{{ asset('bundles/LFR/img/cloth.png') }}" alt="" class="img-responsive">
                      <div class="caption">
                          <h3>Vêtements</h3>
                      </div>
                      </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="large-icon large-icon-right">
          <div class="icon-container">
            <div class="icon-dummy"></div>
            <div class="icon-element">
              <div class="row" id="box-search">
                  <div class="thumbnail text-center">
                      <a href="#">
                      <img src="{{ asset('bundles/LFR/img/accessoire.png') }}" alt="" class="img-responsive">
                      <div class="caption">
                          <h3>Accessoires</h3>
                      </div>
                      </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
  $('#scroll a').on('click', function(e){
    e.preventDefault();
    $('html,body').animate({
        scrollTop: $("#home-page").offset().top
    },'slow');
  })
  setTimeout(function(){
    var title_size = $('#title h1').width();
    var window_size = $('body').width();
    var title_coord_x = 1.2*(window_size-title_size)/2;
    $('.fil-snake').css('width', title_coord_x+'px');
    $('.fil-snake').css('right', title_coord_x+'px');
    $('.fil-snake').css('visibility', 'visible');
    $('.fil-snake').css('transform', 'translateX('+title_coord_x+'px)');
    setTimeout(next_show, 1000);
  }, 500);


  var title_size = $('#title h1').width();
  var window_size = $('body').width();
  title_coord_x = 1.2*(window_size-title_size)/2;
  console.log('coorg'+title_coord_x);

  console.log(title_size);
  console.log(window_size);
  var decalage = (title_size-window_size)/2;
  console.log(decalage);
  if(title_size > window_size){
      $('#title').css('position', 'relative');
      $('#title').css('right', decalage+'px');
  }
  var next_show = function(){
    var letter = $(".special-font span.hidden:first");
    letter.removeClass('hidden');
    letter.css('opacity', '1');
    if(letter.length > 0){
      setTimeout(next_show, 160);
    } else {
      setTimeout(function(){
        signature = $('.signature');
        signature.css('opacity', '1');
        $('#scroll').fadeIn();
      }, 800);
    }
  };
});
</script>
{% endblock %}
