{% extends "LFRStoreBundle::layout.html.twig" %}
{% block title %}
  | Collections
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/LFR/slick/slick.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/LFR/slick/slick-theme.css') }}"/>
{% endblock %}
{% block body %}

<div id="collection-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {% set text = "LFRStoreBundle:Utils:text.html.twig" %}
  {% set image = "LFRStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'collection'}) }}
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-12">
        <div class="collection-carousel" style="display:none;">
          {% for collection in collections %}
          <div class="collection-item">
            <a href="{{ path('lfr_store_explore', {'collection': collection.id }) }}">
              <img class="collection-img" src="{{ asset('uploads/img/' ~ collection.image) }}">
              <div class="item-overlay top"></div>
              <div class="collection-description">
                {% if is_granted('ROLE_USER') %}
                  {% set edition_buttons="LFRStoreBundle:Utils:edition.html.twig" %}
                  {{ include(edition_buttons, {'edit': path('lfr_admin_collection_add', {'id': collection.id}), 'remove': path('lfr_admin_collection_remove', {'id': collection.id}) }) }}
                {% endif %}
                <h3>{{ collection.title }}</h3>
                <p>
                  {{ collection.description }}
                </p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
          <a class="btn btn-primary" style="margin-top: 5px;" href="{{ path('lfr_admin_collection_add')}}">+ Créer une nouvelle collection</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ asset('bundles/LFR/slick/slick.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
      var screen_width = $('body').width();
      if(screen_width >= 768){
        nb_slides = 3;
      } else if(screen_width >= 567){
        nb_slides = 2;
      } else {
        nb_slides = 1;
      }
      $('.collection-carousel').slick({
        infinite: true,
        slidesToShow: nb_slides,
        slidesToScroll: 1
      });
      $('.collection-carousel').fadeIn();
      var min_height = 100000;
      setTimeout(function(){
        $('.collection-img').each(function(){
          min_height = Math.min(min_height, $(this).height());
        });
        $('.collection-img').each(function(){
          var overflow = $(this).height() - min_height;
          console.log($(this).height());
          $(this).css('margin-top', -overflow/2+'px');
          $(this).css('margin-bottom', -overflow/2+'px');
        });
      }, 0);
    });
</script>

{% endblock %}
