{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}

<div id="history-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {% set text = "LFRStoreBundle:Utils:text.html.twig" %}
  {% set image = "LFRStoreBundle:Utils:image.html.twig" %}
  {{ include(navbar, {'active': 'history'}) }}
  <div class="container">
    <div class="row" style="margin-top: 25px;">
      <div class="col-sm-6">
        <div class="double-large-icon">
          <div class="under" style="width: 75%;">
            <div class="img-thumbnail">
              {{ include(image, {'element': data.history.under, 'style': 'width:100%;'}) }}
            </div>
          </div>
          <div class="over" style="width: 75%;">
            <div class="img-thumbnail">
              {{ include(image, {'element': data.history.over, 'style': 'width:100%;'}) }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>{{ include(text, {'element': data.history.title }) }}</h3>
          <p>{{ include(text, {'element': data.history.content }) }}</p>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-8">
        <h3>{{ include(text, {'element': data.author.title }) }}</h3>
        <p>
          {{ include(text, {'element': data.author.content}) }}
        </p>
      </div>
      <div class="col-sm-4">
        <div style="width: 100%;">
          <div class="img-thumbnail" style="border-radius: 50%;">
            {{ include(image, {'element': data.author.img, 'style': 'width:100%; border-radius: 50%;'}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{% if is_granted('ROLE_USER') %}
  {% set edit_script = "LFRStoreBundle:Utils:edit-handler.html.twig" %}
  {{ include(edit_script) }}
{% endif %}
<script>
  var icon_inversed = false;
  $('.double-large-icon .over').hover(function(){
    setTimeout(function(){
      if(icon_inversed && $('.double-large-icon .over').is(':hover')){
        $('.double-large-icon .over').fadeOut(function() {
            $('.double-large-icon .under').css('z-index', '0');
            $('.double-large-icon .over').css('z-index', '1').fadeIn();
        })
        icon_inversed = !icon_inversed;
      }
    }, 300);
  });
  $('.double-large-icon .under').hover(function(){
    setTimeout(function(){
      if(!icon_inversed && $('.double-large-icon .under').is(':hover')){
        $('.double-large-icon .under').fadeOut(function() {
            $('.double-large-icon .over').css('z-index', '0');
            $('.double-large-icon .under').css('z-index', '1').fadeIn();
        })
        icon_inversed = !icon_inversed;
      }
    }, 300);
  });
</script>
{% endblock %}
