

<form class="form-signin" name="form" method="post" action="{{ path('lfr_admin_text_add',{'id': id}) }}">
  {% set input_form="RPZDiscussionBundle:Utils:form_input.html.twig" %}
  {% set save_form="RPZDiscussionBundle:Utils:form_save.html.twig" %}
  <h6 class="form-signin-heading">{% if id == 0 %}Créer{% else %}Modifier un text{% endif %}</h6>
  {{ include(input_form, {'element': form.role, 'name':"Rôle"}) }}
  {{ include(input_form, {'element': form.text, 'name':"Texte"}) }}
  {{ include(save_form, {'element': form.save, 'name':"Publier"}) }}
  {{ form_rest(form) }}
</form>
