<div id="home-page">
  {% set text = "LFRStoreBundle:Utils:text.html.twig" %}
  {% set image = "LFRStoreBundle:Utils:image.html.twig" %}
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {{ include(navbar, {'active': "none"}) }}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="large-icon large-icon-left">
          <div class="icon-container">
            <div class="icon-dummy"></div>
            <div class="icon-element">
              <div class="row" id="box-search">
                  <div class="thumbnail text-center">
                      <a href="{{ path('lfr_store_explore', {'type': 'vetement'}) }}">
                      {{ include(image, {'element': data.home.left_img, 'style': ''}) }}
                      <div class="caption">
                          <h3>{{ include(text, {'element': data.home.title.left }) }}</h3>
                      </div>
                      </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="large-icon large-icon-right">
          <div class="icon-container">
            <div class="icon-dummy"></div>
            <div class="icon-element">
              <div class="row" id="box-search">
                  <div class="thumbnail text-center">
                      <a href="#">
                      {{ include(image, {'element': data.home.right_img, 'style': ''}) }}
                      <div class="caption">
                          <h3>{{ include(text, {'element': data.home.title.right }) }}</h3>
                      </div>
                      </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
