<div id="no_results"><h4>Pas de résultats</h4></div>
{% if is_granted('ROLE_USER') %}
<div class="img-thumbnail creation-icon add-icon" style="z-index: {{creations|length + 1}}">
  <div class="img-cadre">
    <a href="{{ path('lfr_admin_creation_add') }}">
        <div class="caption" style="bottom: calc(50% - 30px);">
          <h4 style="color: #BA0020;"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter une création</h4>
      </div>
    </a>
  </div>
</div>
{% endif %}
{% for creation in creations %}
  <div class="img-thumbnail creation-icon"
       data-type="{% for type in creation.types %}{% if not loop.first %},{% endif %}{{type.id}}{% endfor %}"
       data-collection="{{ creation.collection.id }}"
       data-category="{{ creation.category.slug }}"
       style="z-index: {{creations|length - loop.index0}}"
  >
    <div class="img-cadre">
      <a href="{{ path('lfr_admin_creation_show', {'id': creation.id}) }}">
        <img src="{{ asset('uploads/img/' ~ creation.small_image) }}" alt="" style="margin-bottom: -65px;">
        <div class="caption">
          <h4>{{ creation.name }}</h4>
          {% if creation.onsold %}<h5>{{ creation.price }} €</h5>{% endif %}
        </div>
      </a>
    </div>
  </div>
{% endfor %}
