{% extends "RPZDiscussionBundle::layout.html.twig" %}

{% block body %}
<h1>All articles ({{ articles|length }})</h1>
<a href="{{ path('rpz_discussion_article_add') }}">Créer un article</a>
{% for article in articles %}
    <article>
    <div>
      <a href="{{ path('rpz_discussion_article_add', {'id': article.id}) }}">Modifier</a>
      <a href="{{ path('rpz_discussion_article_remove', {'id': article.id}) }}">Supprimer</a>
    </div>
    <h2>{{ article.title }}</h2>
    <h3>{{ article.author }}, {{ article.date|date("d/m/Y H:i") }}</h3>
    <p>
      {{ article.content }}
      <br />
      <a href="{{ path('rpz_discussion_article_show', {'id': article.id}) }}">Voir plus</a>
    </p>
    </article>
{% endfor %}

{% endblock %}
