<ul id="notify" class="list-group" style="margin-bottom: 10px;">
  <li class="list-group-item collapse-toggle justify-content-between">
    <h5 style="margin-bottom: 0px;">
      Filtre
    </h5>
  </li>
  <div id="menu_lateral" class="collapse show">
      {% for gender in genders %}
      <li class="list-group-item justify-content-between">
        <h5 style="width: 100%;">
          {{ gender.name }}
          {% if is_granted('ROLE_USER') %}
          <a class="remove" href="{{ path('lfr_admin_gender_remove', {'id': gender.id }) }}"><i class="fa fa-trash-o"></i></a>
          {% endif %}
        </h5>
        <ul class="list-group list-gender">
          {% for type in gender.types %}
            <li class="list-group-item justify-content-between">
              <a href="#" class=""><input id="" type="checkbox"> {{ type.name }}</a>
              {% if is_granted('ROLE_USER') %}
              <a class="remove" href="{{ path('lfr_admin_type_remove', {'id': type.id }) }}"><i class="fa fa-trash-o"></i></a>
              {% endif %}
            </li>
          {% endfor %}
          {% if is_granted('ROLE_USER') %}
          <li class="list-group-item justify-content-between">
            <a href="#" class="internal-link" data-target="#form-type{{ gender.id }}">+ Type d'habit</a>
            <div id="form-type{{ gender.id }}" style="display:none">
              {{ render(controller("LFRStoreBundle:Search:typeAdd", {'gender_id': gender.id })) }}
            </div>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
      {% if is_granted('ROLE_USER') %}
      <li class="list-group-item justify-content-between">
        <a href="#" class="internal-link" data-target="#form-gender">Ajouter une catégorie</a>
        <div id="form-gender" style="display:none">
          {{ render(controller("LFRStoreBundle:Search:genderAdd")) }}
        </div>
      </li>
      {% endif %}
    </div>
</ul>
