<div style="width: {{ width }}px; position: absolute; top: {{ top }}px; left: {{ left }}px;">
  <div class="img-thumbnail">
    <a href="{{ path('lfr_store_show', {'id': 0}) }}">
      <img src="{{ img_path }}" alt="" style="width:100%; margin-bottom: -28px;">
      <div class="caption">
        <h4 style="text-align: center; color: transparent;">J'adior</h4>
      </div>
    </a>
  </div>
</div>
