{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}

<div id="explore-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {{ include(navbar, {'active': 'collection'}) }}
  <div class="container">
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-6">
        {% set carousel = "LFRStoreBundle:Search:carousel.html.twig" %}
        {{ include(carousel, {'url': creation.images}) }}
        <div style="margin-top:20px;">
          <h4>{{ creation.title2 }}</h4>
          <p>{{ creation.text2|nl2br }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        {% if is_granted('ROLE_USER') %}
          {% set edition_buttons="LFRStoreBundle:Utils:edition.html.twig" %}
          {{ include(edition_buttons, {'edit': path('lfr_admin_creation_add', {'id': creation.id}), 'remove': path('lfr_admin_creation_remove', {'id': creation.id}) }) }}
        {% endif %}
        <h3>{{ creation.name }}</h3>
        {% if creation.onsold %}
          <h4><span class="badge badge-primary badge-pill" style="padding: 16px;padding-top: 11px;padding-bottom: 9px;">{{ creation.price }} €</span></h4>
        {% endif %}
        <h4>{{ creation.title1 }}</h4>
        <p>{{ creation.text1|nl2br }}</p>
         <ul id="notify" class="list-group" style="margin-bottom: 10px;">
           <!--<li class="list-group-item collapse-toggle justify-content-between">
             <h5 style="margin-bottom: 0px;">
               Modèles
             </h5>
           </li>-->
           <div id="creation_options" class="collapse show">
               {% if creation.sizes|length > 0 %}
               <li class="list-group-item" style="padding-right: 0px;" data-unique="1">
                 <h5 style="width: 100%;">Tailles</h5>
                 {% set card="LFRStoreBundle:Attribute:card_attribute.html.twig" %}
                 {% for attribute in creation.sizes %}
                   {{ include(card, {'attribute': attribute, 'allow_modify': false}) }}
                 {% endfor %}
               </li>
               {% endif %}
               {% if creation.colors|length > 0 %}
               <li class="list-group-item" style="padding-right: 0px;"  data-unique="1">
                 <h5 style="width: 100%;">Couleurs</h5>
                 {% set card="LFRStoreBundle:Attribute:card_attribute.html.twig" %}
                 {% for attribute in creation.colors %}
                   {{ include(card, {'attribute': attribute, 'allow_modify': false}) }}
                 {% endfor %}
               </li>
               {% endif %}
               {% if creation.others|length > 0 %}
               <li class="list-group-item" style="padding-right: 0px;" data-unique="0">
                 <h5 style="width: 100%;">Options</h5>
                 {% set card="LFRStoreBundle:Attribute:card_attribute.html.twig" %}
                 {% for attribute in creation.others %}
                   {{ include(card, {'attribute': attribute, 'allow_modify': false}) }}
                 {% endfor %}
               </li>
              {% endif %}
               </li>
             </div>
         </ul>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-1 col-sm-10" style="margin-top: 15px;">

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
  //$("#carousel .carousel-item").zoom({ on:'grab' });
  $('#carousel img')
    .wrap('<span style="display:inline-block"></span>')
    .css('display', 'block')
    .parent()
    .zoom({ on:'grab' });
</script>
<script>
  $('.attribute-card').on('click', function(e){
    var rule = $(this).closest('li').attr('data-unique');
    if($(this).attr('data-selected') == '1'){
      $(this).css('border-color', 'rgba(0,0,0,.125)');
      $(this).attr('data-selected', 0);
    } else {
      if(rule == '1'){
        $(this).closest('li').find('.attribute-card').css('border-color', 'rgba(0,0,0,.125)').attr('data-selected', 0);;
      }
      $(this).css('border-color', '#0275d8');
      $(this).attr('data-selected', 1);
    }
  });
</script>
{% endblock %}
