{% extends "LFRStoreBundle::layout.html.twig" %}
{% block title %}
  | Créations
{% endblock %}
{% block body %}

<div id="explore-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {% set lateral_navbar = "LFRStoreBundle:Search:lateral.html.twig" %}
  {{ include(navbar, {'active': 'collection'}) }}
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        {{ include(lateral_navbar) }}
      </div>
      <div id="display_icons" class="col-md-9 col-sm-6">
        <div>
          {{ render(controller('LFRStoreBundle:Creation:index')) }}
        </div>
        <!--
          {% set icon = "LFRStoreBundle:Search:new_icon.html.twig" %}
          {% for i in 1..8 %}
            {% set width = 150 + random(100) %}
            {% set top = random(300) %}
            {% set left = random(550) %}
            {{ include(icon, {'img_path' : asset('bundles/LFR/img/icons/' ~ i ~'.png'), 'width': width, 'top': top, 'left': left }) }}
          {% endfor %}
        -->

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  function Icon(x, y) {
    var icon = {};
    icon.x = x-50;
    icon.y = y-50;
    icon.width = 300;
    icon.height = 300;
    icon.contains = function (x, y) {
        x += this.width/2
        y += this.height/2
        console.log(x, this.x, this.x + this.width);
        return this.x <= x && x <= this.x + this.width &&
               this.y <= y && y <= this.y + this.height;
    }
    return icon;
  }
  function icon_overlap(icon){
    var overlap = false
    for(index in icons){
      var in_it = icons[index].contains(icon.x, icon.y);
      if(in_it){
        overlap =  true;
      }
    }
    return overlap;
  }
  var width = $('#display_icons').width() - 200;
  var height = 280;
  icons = [];
  $('.creation-icon').slice(0,10).each(function(){
      $(this).css('position', 'absolute').fadeIn();
      var x = Math.random() * width;
      var y = Math.random() * height;
      var icon = Icon(x, y);
      var i = 10;
      while(icon_overlap(icon) && i > 0){
        i--;
        x = Math.random() * width;
        y = Math.random() * height;
        icon = Icon(x, y);
        console.log('try'+i);
      }
      theta = (Math.random() - 0.5)*30;
      $(this).css('left', x);
      $(this).css('top', y);
      $(this).css('transform', 'rotate('+theta+'deg)');
      var img = $(this).find('img');
      var img_width = img.width();
      var img_height = img.height();
      if(img_width < img_height){
         img.addClass('portrait');
      } else {
         img.removeClass('portrait');
      }
      icons.push(icon);
  })
</script>
<script>
  function reshape_image(obj){
    var img = $(obj).find('img');
    var img_width = img.width();
    var img_height = img.height();
    if(img_width < img_height){
       img.addClass('portrait');
    } else {
       img.removeClass('portrait');
    }
  }
  var filter = {
    collection: "{{ collection_id }}",
    category: "{{ category_id }}",
    types: []
  }

  function icon_filter(){
    var visible_items = 0;
    $('.creation-icon:not(.add-icon)').each(function(){
      var collection = $(this).attr('data-collection');
      var category = $(this).attr('data-category');
      var types = $(this).attr('data-type').split(',').map(Number);
      var visible = (collection == filter.collection || filter.collection == 'all')
      visible = visible && (category == filter.category || filter.category == 'all')
      if(filter.types.length > 0){
        var has_one_type = false;
        for(i in types){
          var type = types[i];
          has_one_type = has_one_type || filter.types.includes(type);
        }
        visible = visible && has_one_type;
      }
      if(visible){
        $(this).show();
        reshape_image(this);
        visible_items++;
      } else {
        $(this).hide();
      }
    });
    if(visible_items > 0){
      $('#number_results').html('('+visible_items+')');
      $('#no_results').hide();
    } else {
      $('#number_results').html('');
      $('#no_results').show();
    }
    if(filter.category == 'accessoire'){
      $('.vetement_filter').hide();
    } else {
      $('.vetement_filter').show();
    }
  }
  $(document).ready(function(){
    setTimeout(function(){
      $('.creation-icon').hide().css('visibility', 'visible').fadeIn();
      icon_filter();
    }, 400);
  });

  var first_click = true;
  function reorganize(){
    if(first_click){
      $('.creation-icon').each(function(){
        $(this).css('position', 'static');
        $(this).css('transform', 'none');
      });
      first_click = false;
    }
  }
  $('#reorder-btn').on('click', function(e){
    e.preventDefault();
    reorganize();
  });

  $('#menu_lateral a.filter').on('click', function(e){
    e.preventDefault();
    reorganize();
    var $input = $(this).find("input").first();
    $input.prop("checked", !$input.prop("checked"));
    var type_id = Number(this.href.split('-')[1]);
    if($input.prop("checked")){
      filter.types.push(type_id);
    } else {
      var index = filter.types.indexOf(type_id);
      if (index > -1) {
          filter.types.splice(index, 1);
      }
    }
    icon_filter();
  });

  $("#select_collection").change(function() {
    reorganize();
    filter.collection = $(this).val();
    icon_filter();
  });
  $("#select_category").change(function() {
    reorganize();
    filter.category = $(this).val();
    icon_filter();
  });
</script>
{% endblock %}
