{% extends "RPZDiscussionBundle::layout.html.twig" %}
{% set edition_buttons="RPZDiscussionBundle:Utils:edition.html.twig" %}
{% block left_panel %}
{{ render(controller("RPZDiscussionBundle:Log:notify")) }}
{{ render(controller("RPZDiscussionBundle:Log:messages")) }}
{{ render(controller("RPZDiscussionBundle:Log:show")) }}
{% endblock %}
{% block body %}
<div id="form_message" class="card card-body hide" style="padding: 30px; margin-bottom: 15px;">
  {{ render(controller("RPZDiscussionBundle:Message:add")) }}
</div>
<div class="card card-body" style="padding: 30px; margin-bottom: 15px;">
  {{ render(controller("RPZDiscussionBundle:Article:add")) }}
</div>
{% for article in articles %}
  {% set has_image = (article.image is not empty) %}
  <div id="article{{ article.id }}" class="card card-body" style="padding: 30px; margin-bottom: 15px;">
    {% if has_image %}
    <div class="" style="margin: -30px;">
      <img class="card-img-top" style="width: 100%;" src="{{ asset('uploads/img/' ~ article.image) }}" alt="Photo indisponible">
    </div>
    {% endif %}
    <div class="rpz_box_icon">
      <h4 class="card-title" {% if has_image %}style="color: white; position: relative; bottom: 20px;"{% endif %}>
        {% if article.type == 'message' %}
          <i class="fa fa-comments"></i>
          {% if article.title is not null and article.title != "" %}
            {{ article.title }}
          {% else %}
            Discussion
          {% endif %}
        {% else %}
          <i class="fa fa-bell"></i> {{ article.title }}
        {% endif %}
      </h4>
      {% if article.type == 'message' %}
        {{ include(edition_buttons, {'edit': path('rpz_discussion_message_edit', {'id': article.id}), 'remove': path('rpz_discussion_article_remove', {'id': article.id}) }) }}
      {% else %}
        {{ include(edition_buttons, {'edit': path('rpz_discussion_article_edit', {'id': article.id}), 'remove': path('rpz_discussion_article_remove', {'id': article.id}) }) }}
      {% endif %}
    </div>
    <h5>
      <span class="author">{% for user in article.users %}{% if not loop.last and not loop.first %}, {% elseif loop.last and not loop.first %} et {% endif %}{{ user }}{% endfor %}</span>,
      <span class="date" data-date="{{ article.date|date('U') }}">{% if article.type == 'message' %}modifié {% endif %}{{ article.time_since }}</span>
    </h5>
    {% if article.type != 'message' %}
    <p class="card-text">{{ article.content|nl2br }}</p>
    {% endif %}
    {% if article.comments|length >= 10 %}
      <div class="hr"></div>
      <p class="card-text" style="font-size: 0.95em; margin-bottom: 0">
        <a href="#" class="see_more">Voir les messages précédents</a>
      </p>
    {% endif %}
    <div class="comments">
      {% for comment in article.comments %}
        {% if article.type == 'message' %}
          {% if loop.first or last_author != comment.author or last_date.diff(comment.date).h > 0 %}
            <div class="hr"></div>
            <div class="rpz_box_icon">
              <h6><span class="author">{{ comment.user }}</span>, <span class="date" data-date="{{ comment.date|date('U') }}">{{ comment.time_since }}</span></h6>
              {{ include(edition_buttons, {'edit': path('rpz_discussion_comment_edit', {'article_id': article.id, 'id': comment.id}), 'remove': path('rpz_discussion_comment_remove', {'id': comment.id})}) }}
            </div>
            <p class="card-text" style="font-size: 0.95em; margin-bottom: 0.08rem;">
              {{ comment.text|nl2br }}
            </p>
          {% else %}
            <div class="rpz_box_icon">
              {{ include(edition_buttons, {'edit': path('rpz_discussion_comment_edit', {'article_id': article.id, 'id': comment.id}), 'remove': path('rpz_discussion_comment_remove', {'id': comment.id})}) }}
              <p class="card-text" style="font-size: 0.95em; margin-bottom: 0.08rem;">
                {{ comment.text|nl2br }}
              </p>
            </div>
          {% endif %}
          {% set last_author = comment.author %}
          {% set last_date = comment.date %}
        {% else %}
        <div class="hr"></div>
        <div class="rpz_box_icon">
          <h6><span class="author">{{ comment.user }}</span>, <span class="date">{{ comment.time_since }}</span></h6>
          {{ include(edition_buttons, {'edit': path('rpz_discussion_comment_edit', {'article_id': article.id, 'id': comment.id}), 'remove': path('rpz_discussion_comment_remove', {'id': comment.id})}) }}
        </div>
        <p class="card-text" style="font-size: 0.95em;">
          {{ comment.text|nl2br }}
        </p>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hr"></div>
    <div>
      {{ render(controller("RPZDiscussionBundle:Comment:add", {'article_id': article.id, 'type': article.type})) }}
      <div style="clear:both"></div>
    </div>
  </div>
{% endfor %}

{{ include("RPZDiscussionBundle:Utils:pagination.html.twig", {'url': 'rpz_discussion_article', 'nbPages': nbPages, 'page': page}) }}

<style>
body {
  background-color: #e9ebee;
}
button:hover {
  cursor: pointer;
}
#rpz_write_article_box {
  border-radius: 3px;
  border: 1px #dfe0e4 solid;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.rpz_article {
  border: 1px #333333 solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.date {
  color: #777777;
  font-weight: 200;
}
.author {
  font-weight: bold;
}
.sober_link {
  color: inherit;
}
.sober_link:hover {
  text-decoration: none;
}
.rpz_comment {
  border-top: 1px #333333 solid;
}
.rpz_edit_btn {
  text-align: right;
  height: 0px;
}
.rpz_edit_btn a {
  padding-left: 10px;
}
.rpz_box_icon {
  width: 100%;
}
.rpz_box_icon h4, h5, h6 {
  display: inline-block;
}
ul.rpz_icons {
  list-style: none;
  float: right;
  margin-bottom: 0px;
}
ul.rpz_icons li {
  display: inline-block;
}
ul.rpz_icons a {
  padding-left: 10px;
}
ul.rpz_icons li:after {
  content: ' ';
}
.select_dest:hover {
  cursor: pointer;
}
.new-p {
  border-left: 2px #C12103 solid;
  padding-left: 5px;
}
</style>
{% endblock %}
{% block script %}
<script>
  var USERNAME = "{{ username }}";
  var SERVER_URL = "{{ path('rpz_discussion_article_sync')}}";
  var BOUND = "{{ bound }}";
</script>
<script src="{{ asset('server.js') }}"></script>
<script>
{% for article in articles %}
  articles[{{ article.id }}] = new Article({{ article.id }}, '{{ article.type }}');
{% endfor %}
</script>
<script>
$('#add_message_title').on('click', function(e){
  e.preventDefault();
  $('#message_title').fadeIn();
  $(this).hide();
});
</script>
<script>
$('.select_dest').on('click', function(e){
  e.preventDefault();
  var checkbox = $(this).find('input');
  checkbox.attr('checked', !checkbox.attr('checked'));
  var nb_dest = $('.select_dest_box input:checked').length;
  if($(this).hasClass('badge-default')){
    $(this).addClass('badge-primary').removeClass('badge-default');
  } else {
    $(this).addClass('badge-default').removeClass('badge-primary');
  }
  $('#nb_dest').html(nb_dest);
});
$('.new_message').on('click', function(e){
  e.preventDefault();
  $('#form_message').removeClass('hide');
  $('#form_message').hide().fadeIn('slow');
});
</script>
<script>
  $('textarea').on('keyup', function(e){
    this.style.height = "1px";
    this.style.height = (22+this.scrollHeight)+"px";
  });
</script>
<script>
  var MIN_SIZE = 768;
  var windowSize = $(window).width();
  if(windowSize >= MIN_SIZE) {
    $('#menu').collapse('show');
    $('#notif_down').hide();
    $('#menu2').collapse('show');
    $('#messages_down').hide();
    $('#menu3').collapse('show');
    $('#activity_down').hide();
  }
  $('#activity li.collapse-toggle').on('click', function () {
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
      $('#menu').collapse('toggle');
    }
  });
  $('#messages li.collapse-toggle').on('click', function () {
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
      $('#menu2').collapse('toggle');
    }
  });
  $('#notify li.collapse-toggle').on('click', function () {
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
      $('#menu3').collapse('toggle');
    }
  });
  $(window).on('resize', function(){
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
        $('#menu').collapse('hide');
        $('#activity_down').show();
        $('#menu2').collapse('hide');
        $('#notif_down').show();
    } else {
        $('#menu').collapse('show');
        $('#activity_down').hide();
        $('#menu2').collapse('show');
        $('#notif_down').hide();
    }
  });
</script>
{% endblock %}
