{% extends "RPZDiscussionBundle::layout.html.twig" %}
{% set edition_buttons="RPZDiscussionBundle:Utils:edition.html.twig" %}
{% block left_panel %}
{{ render(controller("RPZDiscussionBundle:Log:notify")) }}
{{ render(controller("RPZDiscussionBundle:Log:show")) }}
{% endblock %}
{% block body %}
<div class="card card-body" style="padding: 30px; margin-bottom: 15px;">
  {{ render(controller("RPZDiscussionBundle:Article:add")) }}
</div>
{% for article in articles %}
  {% set has_image = (article.image is not empty) %}
  <div id="article{{ article.id }}" class="card card-body" style="padding: 30px; margin-bottom: 15px;">
    {% if has_image %}
    <div class="" style="margin: -30px;">
      <img class="card-img-top" style="width: 100%;" src="{{ asset('uploads/img/' ~ article.image) }}" alt="Photo indisponible">
    </div>
    {% endif %}
    <div class="rpz_box_icon">
      <h4 class="card-title" {% if has_image %}style="color: white; position: relative; bottom: 20px;"{% endif %}>{{ article.title }}</h4>
      {{ include(edition_buttons, {'edit': path('rpz_discussion_article_edit', {'id': article.id}), 'remove': path('rpz_discussion_article_remove', {'id': article.id}) }) }}
    </div>
    <h5><span class="author">{{ article.user }}</span>, <span class="date">il y a {{ article.time_since }}</span></h5>
    <p class="card-text">{{ article.content|nl2br }}</p>
    {% for comment in article.comments %}
      <div class="hr"></div>
      <div class="rpz_box_icon">
        <h6><span class="author">{{ comment.user }}</span>, <span class="date">il y a {{ comment.time_since }}</span></h6>
        {{ include(edition_buttons, {'edit': path('rpz_discussion_comment_edit', {'article_id': article.id, 'id': comment.id}), 'remove': path('rpz_discussion_comment_remove', {'id': comment.id})}) }}
      </div>
      <p class="card-text" style="font-size: 0.95em;">{{ comment.text|nl2br }}</p>
    {% endfor %}
    <div class="hr"></div>
    <div>
      {{ render(controller("RPZDiscussionBundle:Comment:add", {'article_id': article.id})) }}
      <div style="clear:both"></div>
    </div>
  </div>
{% endfor %}

{{ include("RPZDiscussionBundle:Utils:pagination.html.twig", {'url': 'rpz_discussion_article', 'nbPages': nbPages, 'page': page}) }}

<style>
body {
  background-color: #e9ebee;
}
button:hover {
  cursor: pointer;
}
#rpz_write_article_box {
  border-radius: 3px;
  border: 1px #dfe0e4 solid;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.rpz_article {
  border: 1px #333333 solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.date {
  color: #777777;
  font-weight: 200;
}
.author {
  font-weight: bold;
}
.sober_link {
  color: inherit;
}
.sober_link:hover {
  text-decoration: none;
}
.rpz_comment {
  border-top: 1px #333333 solid;
}
.rpz_edit_btn {
  text-align: right;
  height: 0px;
}
.rpz_edit_btn a {
  padding-left: 10px;
}
.rpz_box_icon {
  width: 100%;
}
.rpz_box_icon h4, h5, h6 {
  display: inline-block;
}
ul.rpz_icons {
  list-style: none;
  float: right;
  margin-bottom: 0px;
}
ul.rpz_icons li {
  display: inline-block;
}
ul.rpz_icons a {
  padding-left: 10px;
}
ul.rpz_icons li:after {
  content: ' ';
}
</style>
{% endblock %}
{% block script %}
<script>
  var MIN_SIZE = 768;
  var windowSize = $(window).width();
  if(windowSize >= MIN_SIZE) {
    $('#menu').collapse('show');
    $('#activity_down').hide();
    $('#menu2').collapse('show');
    $('#notif_down').hide();
  }
  $('#activity li.collapse-toggle').on('click', function () {
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
      $('#menu').collapse('toggle');
    }
  });
  $('#notify li.collapse-toggle').on('click', function () {
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
      $('#menu2').collapse('toggle');
    }
  });
  $(window).on('resize', function(){
    var windowSize = $(window).width();
    if(windowSize < MIN_SIZE) {
        $('#menu').collapse('hide');
        $('#activity_down').show();
        $('#menu2').collapse('hide');
        $('#notif_down').show();
    } else {
        $('#menu').collapse('show');
        $('#activity_down').hide();
        $('#menu2').collapse('show');
        $('#notif_down').hide();
    }
  });
</script>
{% endblock %}
